<head>
    <meta charset="utf-8">

    <title>Internet Forum Profile Text Analyser (BSC-CNS)</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--script src="./bower_components/he/he.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.js"></script>

    <!--link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.css"-->
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.min.js"></script-->
    <link rel="stylesheet" href="{{ url_for('static',     filename='bower_components/jqcloud2/dist/jqcloud.min.css') }}">
    <script src="{{ url_for('static',     filename='bower_components/jqcloud2/dist/jqcloud.min.js') }}"></script>




    <style>
    </style>

</head>

<body>
    <script>
        jQuery(document).ready(function () {

            //get the dictionary from python rendering
            //var tp_data = $:text_lists;
            var tp_data = {{text_lists | tojson }};
            var ntopics = {{ntopics}};
            function gen_wc_topics(t) {
                //generate tag-cloud for topic t
                var wc = [];
                var wc_t = tp_data['t' + t + '_p0'].relevant_terms;
                for (var j = 0; j < wc_t.text.length; j++) {
                    var p = Math.floor(wc_t.prob[j] * 10000);
                    var w = wc_t.text[j];
                    wc.push({ text: w, weight: p });
                }
                return wc;
            };
            function get_wc_topics(topic) {
                var wc = [];
                if (topic == "all") {
                    for (var i = 0; i < ntopics; i++) {
                        var wci = wc_topics[i];
                        wc = wc.concat(wci);
                    }
                } else {
                    wc = wc_topics[topic];
                }
                return wc;
            };

            var wc_topics = [];
            for (var t = 0; t < ntopics; t++) {
                wc_topics[t] = gen_wc_topics(t);
            }
            //var text_list = in_dict.posts;
            //var relevant_terms = in_dict.relevant_terms;

            //var post_list contains the docs seen on UI
            var post_list = []; //get_relevant_posts("all", "all");
            var keywords = []; //get_relevant_terms("all", "all");

            function boldWords(text, forms) {
                var regex;
                //make regex
                // both words
                var forms_str = forms.join("|");
                var regex_str = '\\b(' + forms_str + ')\\b';
                var regex = new RegExp(regex_str, 'gimu');
                if (text != undefined && text.match(regex) != null) {
                    //text IS in the post
                    text = text.replace(regex, '<b style=" color: blue;">\$&</b>');
                    return text;

                } else {
                    //text IS NOT in the post
                    //text = text.replace(regex,'<b>\\$&</b>');
                    return null;
                }
            };

            function update_docs(updated_post_list) {

                var row_text = '';
                /*
                updated_post_list.forEach(function (post) {
                    var events = post.events
                    events.forEach(function (event) {
                        badges_events = badges_events.concat('<h4><span class="badge badge-info" style="margin:0.2em; background-color:#E1ECF4;color:#39739d;">' + event + '</span>&nbsp;<h4>');
                    });
                });
                */
                var postshows_len = 0;
                for (var i = 0; i < updated_post_list.length; i++) {
                    var post = updated_post_list[i]
                    var post_events = post.events

                    var evnts_ok = jQuery("#events_checkbox").is(':checked');

                    if (evnts_ok) {
                        if (post.events.length > 0) {
                            postshows_len = postshows_len + 1;
                            var badges_events = '';
                            post_events.forEach(function (event) {
                                badges_events = badges_events.concat('<h4><span class="badge badge-info" style="margin:0.2em; background-color:#FFECEF;color:#39739d;">' + event + '</span>&nbsp;<h4>');
                            });
                            row_text = row_text + `
                        <div class="row" style="padding:0.25rem;" class="col-md-12">
                            <div class="card  border-info  mb-12">
                                <div class="card-body  border-info ">
                                    <p class="card-text">`+ updated_post_list[i].text + `</p>
                                </div>
                                <div class="card-body  border-info ">
                                    <p class="card-text"> Events:&nbsp;`+ badges_events + `</p>                                
                                </div>
                            </div>
                        </div>`;
                        }
                    } else {
                        postshows_len = updated_post_list.length;
                        row_text = row_text + `
                        <div class="row" style="padding:0.25rem;" class="col-md-12">
                            <div class="card  border-info  mb-12">
                                <div class="card-body  border-info ">
                                    <p class="card-text">`+ updated_post_list[i].text + `</p>
                                </div>
                            </div>
                        </div>`;
                    }

                }
                jQuery("#cards_posts").html(row_text);
                //update the number of documents
                jQuery("#results_num").html(postshows_len);
            };

            function get_all_files_all_topics_polarities() {
                var posts_all = [];
                var keys = Object.keys(tp_data);
                for (var k in keys) {
                    var key = keys[k];
                    posts_all = posts_all.concat(tp_data[key].posts);
                }
                return posts_all;
            };

            function gen_keys(topics, polarities) {
                var tpkeys = [];

                if (topics == "all") {
                    topics = [0, 1, 2, 3, 4];
                }
                if (polarities == "all") {
                    polarities = [-1, 0, 1];
                }

                for (var i = 0; i < topics.length; i++) {
                    for (var j = 0; j < polarities.length; j++) {
                        tpkeys.push("t" + topics[i] + "_p" + polarities[j]);
                    }
                }
                return tpkeys;
            };

            function get_relevant_posts(topics, polarities) {
                var keys = gen_keys(topics, polarities);
                var posts_required = [];
                for (var k in keys) {
                    //for (var k = 0; k < keys.length; k++){
                    var key = keys[k];
                    var xx = tp_data[key].posts
                    var yy = tp_data[key]["posts"]
                    posts_required = posts_required.concat(tp_data[key].posts);
                }
                return posts_required;
            };

            function get_relevant_terms(topics, polarities) {
                //var keys = gen_keys(topics, polarities);
                var top_topics = [];
                if (topics == 'all') {
                    topics = [0, 1, 2, 3, 4];
                }
                for (var k = 0; k < topics.length; k++) {
                    var key = 't' + topics[k] + '_p0';
                    top_topics = top_topics.concat(tp_data[key].relevant_terms.text);
                }
                return top_topics;
            };

            function get_selected_docs() {
                var topic_selected = jQuery("#topic_selected").val();
                var polarity_selected = jQuery("#polarity_selected").val();
                return { "topic_selected": topic_selected, "polarity_selected": polarity_selected };
            };

            function change_topic_polarity() {

                //while uploading the contents, show in the UI
                var loading_content = `<div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>`;
                jQuery("#cards_posts").html(loading_content);

                var selected = get_selected_docs();
                var topic = selected["topic_selected"];
                var polar = selected["polarity_selected"];
                if (topic != "all") {
                    topic = [topic];
                }
                if (polar != "all") {
                    polar = [polar];
                }
                var posts_to_update = get_relevant_posts(topic, polar);
                var top_terms = get_relevant_terms(topic, polar);

                //clear the search term before updating the posts
                jQuery("#search_term").val("");

                //update docs at UI
                update_docs(posts_to_update);
                post_list = posts_to_update;

                //update_terms at UI
                update_terms(top_terms);

                //update tag_cloud
                update_tag_cloud(topic);

                //update the bolds
                //search_and_bold();
            };

            function update_terms(top_terms) {
                var output = '';
                var tag_cloud_words = [];
                if (top_terms.length > 0) {
                    for (var i = 0; i < top_terms.length; i++) {
                        var term = top_terms[i];
                        output = output.concat('<h4><span class="badge badge-info" style="margin:0.2em; background-color:#E1ECF4;color:#39739d;">' + term + '</span>&nbsp;<h4>');
                        //var max = 20;
                        //var min = 1;
                        //var w = Math.floor(Math.random() * (max - min + 1)) + min;
                        //tag_cloud_words.push({ text: term, weight: prob * 100 });
                    }

                } else {
                    //do nothing
                }

                jQuery("#top_terms").html(output);

                return output;
            };

            function search_and_bold() {
                //var split_char = ' '; // used for matching diferents words in a post
                var split_char = null; // used for matching exact phrase
                var text_search = jQuery("#search_term").val();
                var post_list_selected = [];
                for (var i = 0; i < post_list.length; i++) {
                    text = boldWords(post_list[i].text, text_search.split(split_char));
                    if (text != null && text != '') {
                        post_list.text = text;
                        var post_bolded = post_list[i];
                        post_bolded.text = text;
                        post_list_selected.push(post_bolded);
                    } else {
                        // do nothing
                    }

                }
                update_docs(post_list_selected);
            };

            // *********** TAG-CLOUD *********************************
            function gen_tag_words(words) {
                //TO-DO?
            };

            var tag_cloud_words = [
                { text: "Lorem", weight: 15 },
                { text: "Ipsum", weight: 9, link: "http://jquery.com/" },
                { text: "Dolor", weight: 6, html: { title: "I can haz any html attribute" } },
                { text: "Sit", weight: 7 },
                { text: "Amet", weight: 5 }
            ];

            function update_tag_cloud(topic) {
                var tag_cloud_words = get_wc_topics(topic);
                jQuery("#topic-tagcloud").jQCloud('update', tag_cloud_words);

            };

            // init tag cloud
            jQuery("#topic-tagcloud").jQCloud([], {
                autoResize: true,
                classPattern: null,
                //colors: ["#800026", "#bd0026", "#e31a1c", "#fc4e2a", "#fd8d3c", "#feb24c", "#fed976", "#ffeda0", "#ffffcc"],
                colors: ["#39739d"],
                fontSize: {
                    from: 0.1,
                    to: 0.01
                }
            });
            change_topic_polarity()
            //update_tag_cloud(tag_cloud_words);
            //jQuery("#topic-tagcloud").jQCloud(tag_cloud_words, {autoResize: true});

            // *********** END TAG-CLOUD *****************************

            jQuery('#events_checkbox').change(change_topic_polarity);

            jQuery("#topic_selected").change(change_topic_polarity);

            jQuery("#polarity_selected").change(change_topic_polarity);

            jQuery("#search_button").click(search_and_bold);

            //update_docs(post_list);
            change_topic_polarity();



        });
    </script>
    <div class="jumbotron jumbotron-fluid "
        style="margin-bottom:0; background-color:#3283d4 !important; color:#ffffff; padding: 1rem 1rem;">
        <div class="row" style="font-size: 1.2em;">
            <div class="col-md-8">
                <h1 class="display-4" style="text-align:right;">Internet Forum Profile Text Analyser</h1>
            </div>
            <div class="col-md-4 text-center"><img src="{{ url_for('static',filename='img/BSC-white-small.png') }}" style="width:25rem;"></div>
        </div>
    </div>
    <div class="container" style="padding:1.5rem 0.5rem 0.5rem 0.5rem;">
        <div class="row" style="font-size: 1.2em;">
            <div class="col-md-12">
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    The document filtering is applied according to these criteria:
                    <ul type="disc">
                        <li>The <b>topics</b> the texts talk about</li>
                        <li>The <b>sentiment polarity</b> expressed in the documents (neutral, positive, negative)</li>
                        <li>The <b>terms</b> that are representative of the topics expressed in the documents</li>
                        <li>The events referred to in the documents</li>
                    </ul>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding:1.5rem 0.5rem 0.5rem 0.5rem;">
        <div class="row" style="font-size: 1.2em;">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="doc_topic">Post Topic <i class="far fa-question-circle" style="color: #007bff;"
                            data-toggle="tooltip"
                            title="Filter the posts by its topic. All posts were clusterized in topics after analysing its contents."></i></label>
                    <select id="topic_selected" class="custom-select">
                        <option value="all" selected>All</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" data-toggle="tooltip" data-placement="top"
                    title="Filter the posts contents by its sentiment polarity">
                    <label for="doc_polarity">
                        Post Polarity
                        <i class="far fa-question-circle" style="color: #007bff;" data-toggle="tooltip"
                            title="Filter the posts contents by its sentiment polarity"></i>
                    </label>
                    <select id="polarity_selected" class="custom-select">
                        <option value="all" selected>All</option>
                        <option value="-1">Negative</option>
                        <option value="0">Neutral</option>
                        <option value="1">Positive</option>
                    </select>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group" data-toggle="tooltip" data-placement="top"
                    title="Search term in posts contents">
                    <label for="doc_polarity">
                        Search term
                        <i class="far fa-question-circle" style="color: #007bff;" data-toggle="tooltip"
                            title="Search term in posts contents"></i>
                    </label>
                    <input id="search_term" type="text" class="form-control" id="term_search"
                        placeholder="Search in the posts content">
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="doc_polarity">&nbsp;</label>
                    <button id="search_button" type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-md-12" style="font-size: 1.2em;">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="events_checkbox">
                    <label class="custom-control-label" for="events_checkbox">Events filtering</label>
                </div>
            </div>
        </div>
        <!-- Top terms that will be updated later -->
        <div class="row" id="top_terms" data-toggle="tooltip" title="Top Terms of the topic selected.">
        </div>
        <!-- Top terms TAG-CLOUD -->
        <div class="row">
            <div id="topic-tagcloud" style="width: 100%; height: 400px;"></div>
        </div>
    </div>
    <div class="container" style="padding:0.2rem">
        <hr style="width: 100%; color: #2668a9; height: 1px; background-color:#2668a9;" />

        <div class="row">
            <h4 class="card-title text-muted"> Result: <i id="results_num">...</i> posts </h4>
        </div>


        <div id="cards_posts"></div>

        <div class="row" hidden>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary">Run >></button>
            </div>
            <script>
            //Run the Freeling + Semgraph
            </script>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">File Content</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="my-dialog-content" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row ">
                <p class="text-center">
                The GUI is just for demonstration purposes, it is not secure and should only be used in a secure environment
                </p>
            </div>
        
            <div class="row ">
                <p class="text-center">
                    Developed by BSC
                </p>
            </div>
        </footer>
    </div>

</body>

</html>