<head>
    <meta charset="utf-8">

    <title>Internet Forum Profile Text Analyser (BSC-CNS)</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--script src="./bower_components/he/he.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.js"></script>

    <!--link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.css"-->
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.min.js"></script-->
    <link rel="stylesheet"
        href="{{ url_for('static',     filename='bower_components/jqcloud2/dist/jqcloud.min.css') }}">
    <script src="{{ url_for('static',     filename='bower_components/jqcloud2/dist/jqcloud.min.js') }}"></script>




    <style>
    </style>

</head>

<body>
    <script>
        jQuery(document).ready(function () {
        });
    </script>
    <div class="jumbotron jumbotron-fluid "
        style="margin-bottom:0; background-color:#3283d4 !important; color:#ffffff; padding: 1rem 1rem;">
        <div class="row" style="font-size: 1.2em;">
            <div class="col-md-8">
                <h1 class="display-4" style="text-align:right;">Internet Forum Profile Text Analyser</h1>
            </div>
            <div class="col-md-4 text-center"><img src="{{ url_for('static',filename='img/BSC-white-small.png') }}"
                    style="width:25rem;"></div>
        </div>
    </div>

    <div class="container" style="padding:1.5rem 0.5rem 0.5rem 0.5rem;">
        <div class="row">
            <div class="col-12">
                <p>The internet-forum-profile-text-analyser (IFPTA henceforth) is a tool that filters huge amounts of
                    texts in order to get data that are relevant to profile users of internet fora . The IFPTA tool is
                    useful to model the users' opinions, get bio information and track the events they participate in.
                    These are pieces of information that can even have a predictive value.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>The input file must: </p>
                <p>- contain raw text </p>
                <p>- have document per line format: each line will be processed as a document by the tool</p>
                <p>- minimum 15 lines </p>
                <p>- minimum 1000 words </p>
                </p>
            </div>
        </div>
        <div class="row" style="font-size: 1.2em;">
            <div class="col-md-12">
                <form class="form-inline" method=post enctype=multipart/form-data> <div class="form-group mb-4">
                    <input type=file name=file class="form-control-file">
            </div>
            <div class="form-group mb-4">
                <input type=submit value=Upload>
            </div>
            </form>
        </div>
    </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">File Content</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="my-dialog-content" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row ">
                <p class="text-center">
                    The GUI is just for demonstration purposes, it is not secure and should only be used in a secure
                    environment
                </p>
            </div>

            <div class="row ">
                <p class="text-center">
                    Developed by BSC
                </p>
            </div>
        </footer>
    </div>

</body>

</html>